<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = site.texts.about_author %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = site.texts.back_home %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
	{% if site.header_image == 'gravatar' %}
		{% assign img = 'http://www.gravatar.com/avatar/'  %}
		{% assign img = img | append: site.author.gravatar | append: '.png' %}
	{% else %}
		{% assign img = site.header_image %}
	{% endif %}
		<img src="{{ img }}" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>
