{% if include.class == 'post-head' %}
<p>
{% elsif include.class == 'inline' %}
&nbsp;
{% endif %}
{% if include.link %}
<a href="{{ include.link }}" title="{{ include.link }}"><img src="/public/icons/external-link-icon-black.svg" class="icons {{ include.class }}"></a>
{% endif %}

{% if include.video.youtube_id %}
<a href="https://youtube.com/watch?v={{ include.video.youtube_id }}&origin={{ site.url }}" title="Youtube"><img src="/public/icons/youtube-icon-black.svg" class="icons {{ include.class }}"></a>
{% endif %}

{% if include.video.aparat_id %}
<a href="https://www.aparat.com/v/{{ include.video.aparat_id }}" title="Aparat"><img src="/public/icons/aparat-icon-black.svg" class="icons {{ include.class }}"></a>
{% endif %}
{% if include.class == 'post-head' %}
</p>
{% endif %}
